<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TeleCommunity"
        tools:targetApi="31">
        <activity
            android:name=".DelegadoGeneral.BaseGeneralActivity"
            android:exported="false" />
        <activity
            android:name=".DelegadoGeneral.EditarActividad"
            android:exported="false" />
        <activity
            android:name=".DelegadoGeneral.CrearActividad"
            android:exported="false" />
        <activity
            android:name=".DetallePublicacionActivity"
            android:exported="false" />
        <activity
            android:name=".CrearPublicacionActivity"
            android:exported="false" />
        <activity
            android:name=".BaseActivity"
            android:exported="false" />
        <activity
            android:name=".DelegadoGeneral.VerActividad"
            android:exported="false" />
        <activity
            android:name=".DetalleUbicacionActivity"
            android:exported="false"
            android:theme="@style/EventoDetalleDialog" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyALVGH0i8Z8hjdi8oQFEY4WqY5k5dcH_Ps" />

        <activity
            android:name=".BuscarActivity"
            android:exported="false" />
        <activity
            android:name=".InicioActivity"
            android:exported="false" />
        <activity
            android:name=".NotificationDetailActivity"
            android:label="Detalle de notificación"
            android:parentActivityName=".Notificaciones">

            <!-- Agrega metadatos para configurar la navegación hacia atrás -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Notificaciones" />
        </activity>
        <activity
            android:name=".DelegadoGeneral.SolicitudesDeActivacion"
            android:exported="false" />
        <activity
            android:name=".DelegadoGeneral.UsuariosBaneados"
            android:exported="false" />
        <activity
            android:name=".DetailActivity"
            android:exported="false" /> <!-- Intent filters go here, if any -->
        <activity
            android:name=".DelegadoGeneral.UsuariosActivos"
            android:exported="false" />
        <activity
            android:name=".DelegadoGeneral.AdmUsuarios"
            android:exported="false" />
        <activity
            android:name=".DelegadoGeneral.BanearUsuario"
            android:exported="false" />
        <activity
            android:name=".DelegadoGeneral.VerUsuario"
            android:exported="false" />
        <activity
            android:name=".DelegadoGeneral.EditarUsuario"
            android:exported="false" />
        <activity
            android:name=".DelegadoGeneral.AdmActividades"
            android:exported="false" />
        <activity
            android:name=".DelegadoGeneral.ActividadesCurso"
            android:exported="false" />
        <activity
            android:name=".DelegadoGeneral.ActividadesEliminadas"
            android:exported="false" />
        <activity
            android:name=".DelegadoGeneral.ActividadesFinalizadas"
            android:exported="false" />
        <activity
            android:name=".DelegadoGeneral.AdmDonacion"
            android:exported="false" />
        <activity
            android:name=".DelegadoGeneral.Estadisticas"
            android:exported="false" />
        <activity
            android:name=".CambiarContra"
            android:exported="false" />
        <activity
            android:name=".MiPerfil"
            android:exported="false" />
        <activity
            android:name=".PantallaPrincipal"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".RealizarDonacion"
            android:exported="false" />
        <activity
            android:name=".Notificaciones"
            android:exported="false" />
        <activity
            android:name=".RegistroUsuario"
            android:exported="false"
            android:label="@string/title_activity_registro_usuario"
            android:theme="@style/Theme.TeleCommunity" />
        <activity
            android:name=".IniciarSesion"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>