<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TeleCommunity"
        tools:targetApi="31">
        <activity
            android:name=".DelegadoGeneral.BanearUsuario"
            android:exported="false" />
        <activity
            android:name=".DelegadoGeneral.VerUsuario"
            android:exported="false" />
        <activity
            android:name=".DelegadoGeneral.EditarUsuario"
            android:exported="false" />
        <activity
            android:name=".CambiarContra"
            android:exported="false" />
        <activity
            android:name=".MiPerfil"
            android:exported="false" />
        <activity
            android:name=".PantallaPrincipal"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".RealizarDonacion"
            android:exported="false" />
        <activity
            android:name=".RegistroUsuario"
            android:exported="false"
            android:label="@string/title_activity_registro_usuario"
            android:theme="@style/Theme.TeleCommunity" />
        <activity
            android:name=".IniciarSesion"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>